:root{
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--Off-white);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}


.container{
    display: flex;
    background-color: green;
    max-width: 80%;
    padding: 20px;
    width: 750px;
    min-height: 50vh;
    gap: 2rem;
    
    
}
.details{
    align-items: center;
    justify-content: center;
    padding: 10px;
    line-height: 2.5rem;
}

.inputs.button{
    
}

ul{
    list-style-type: none;
}

